@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f7fb; /* Light background */
  font-family: 'Zing Sans Rust', sans-serif; /* Change to your desired font */
}

h1, h2, h3, h4, h5 {
  font-family: 'Zing Sans Rust', sans-serif; /* Heading font for elegance */
}

a {
  color: #1d4ed8; /* Blue color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.nav-fixed {
  position: fixed;
  bottom: 50px;
  left: 10px;
  z-index: 1000; /* Adjust if needed to ensure it stays on top */
}